/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif
}

html {
  min-height: 100%;
  background-image: url(images/barrel-pour.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
}

header {
  text-align: center;
}

main {
  align-items: center;
  justify-content: center;
  display: flex;
}    

h1 {
  color: white;
  text-shadow: 4px 4px 6px #000000, 0 0 25px black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 42px;
  font-weight: 400;
  margin: 10% 15px 15px 0 ;
}

h2 {
  margin-top: 10px;
}

button, input[type=submit]{
  background-color: #e0e0e0;
  border: none;
  border-radius: 10px;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 8px 18px;
  margin-top: 5px;
}

button:visited, input[type=submit] {
  outline: none;
}

button:hover, input[type=submit]:hover {
  background-color: #bababa
}

button:active, input[type=submit]:active {
  background-color: #bababa;
  outline: none;
  border: 1px solid #adadad
}

label {
  line-height: 1.5;
}

.container {
  border: 1px solid #1f1f1f;
  border-radius: 15px;
  margin: 15px auto;
  padding: 20px 30px;
  background-color: white;
  box-shadow: 4px 4px 15px black;
  width: 90%;
  opacity: 0.97;
}

.center {
  text-align: center;
}

#answer-required {
  margin-bottom: 0;
  font-weight: bold;
  color: #ab0009;
}

/* Responsive styles for desktop */
@media all and (min-width:600px){
  p {
    font-size: 18px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 22px;
  }

label {
    font-size: 18px;
  }
  
  .container {
    max-width: 700px;
  }

  .center {
    max-width: 500px;
  }

  #intro-text {
    font-size: 24px;
  }
}